@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
.wrapper{
  margin: 0 auto 0 auto;
  width:95%;
}

.head_top{
  display: inline-block;
  width:100%;
  background-color: #ebecf1;
}
.head_top h1{
  width:150px;
  float:left;
}
.head_top nav{
 
  width:1000px;
}
nav ul li{
  width:150px;
  display: inline-block;
  float: left;
  text-decoration:none;
  padding-left:10px;
  text-align: center;
   padding-top: 5px;

}
nav a{
   text-decoration:none;
  color:black;
}
.action{
  display: inline-block;
  float: right;
}
.action a
{
  padding: 10px;
  margin-right: 10px;
  float: left;
  color:white;
  background-color: #794e72;
  text-decoration: none;
}
form{
float:right;
}

.banner{
  background-color: #181118;
  width:100%;
}
.lieber_institude{
  width:30%;
  text-align: center;
   color:white;
   padding: 20px;
   margin: 0 auto 0 auto;
}
.lieber_institude h2{
  font-size: 30px;
   margin-bottom:10px;
}
.lieber_institude p{
  margin-bottom:30px;
  font-weight: bold;

}
.lieber_institude a{
  color:white;
  border:2px solid white;
  padding: 15px;
  text-decoration: none;
  border-radius: 25px;
}
.watch{
  background-color: #e2e1e6;
}
.video{
  background-color: #ebecf1;
}
.video img{

}
.mission{
  display: inline-block;
}
.mission li{
  width: 40%;
  float: left;
  display: inline-block;
  margin: 25px;
  padding-left: 25px;
}
.mission h3{
  font-size: 30px;
  color: white;
  padding: 10px;
}
.mission p{
  color: #d3a5c1;
  width: 50%;
  float: left;
}
.mission img{
  float: right;
}
.aiming{
  background-color:#794e72;
}
.approach{
  background-color: #71bacb;
}
.approach p{
  color:#beeffe;
}
.drug_discover{
  background-color: #516068;
}
.drug_discover p{
 color: #9da6b6;
}
.latest_news{
  background-color: #e31e53;
}
.latest_news p{
  color: #760616;
}
.libd_brains{
  background-color: #ac1644;
  display: inline-block;
}
.repository h3{
  font-size: 200px;
}
.repository{
  color:white;
  width:60%;
  float: right;
}
.repository p{
  font-size: 20px;
  margin: 10px;
}
.repository a{
  display: inline-block;
  font-weight: bold;
 color:#954a61;
 text-decoration: none;
 background-color: white;
 padding: 10px;
 margin:20px;
}
.event h4{
  color:#b03561;
  font-size: 30px;
}
.event {
  padding: 20px;
  width:60%;
  float:left;
}

.event_speaker{
  float: right;
  width:30%;
  background-color: #71bacb;
  text-align: center;
  padding:30px;
  margin-top: 40px;
}
.event_speaker span{
  font-size: 40px;
  font-weight: bold;
  color: #31454e;
}
.event_speaker p{
  color: white;
  padding: 10px;
}

.social_link ul{
  width: 100%;

}
.social_link ul li{
   display:inline-block;
   width:30%;
}